.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  margin: 0;
  padding: 0;
}

.box {
  border-style: solid;
  border-color: #61dafb;
  height: 75%;
  padding: 10px 5px 80%;
}
.day {
  display: inline-block;
  border-style: solid;
  border-color: red;
  width: 15%;
}


.button-parent {
  text-align: center;
}
.button {


  margin-left: auto; margin-right:auto;
}